.notification {
  border: 2px solid;
  display: flex;
  border-radius: 20px;
  background: lightslategray;
  margin-bottom: 2px;

  justify-content: space-evenly;
}
.notification > p {
  padding: 1px;
  font-size: 20px;
  font-weight: bold;
}

.notification.error {
  background: darkred;
}
.notification.success {
  background: darkgreen;
}

.blog {
  border: 2px black solid;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 0.5%;
}

.blog-list {
  display: flex;
  align-content: space-evenly;
  flex-direction: column;
}
